*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-list{
    font-family: 'Roboto Mono';
    font-weight: 400;
}
.underline{
  
    height: 1.1px;
    background-color: #d0c3d4;
    transition: all .2s ease-in;
    
}
.liTags{
    opacity: 0.8;
}
.liTags:hover{
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.bt-con:hover .icon{
    color: #0284C7;
    transform: translateX(10px) rotate(360deg) scale(1.1);
    transition: all .4s ease;
  
}
.complete-download{
    transition: top 1s ease-in-out;
};