*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000A13;
}
.nav-list{
    font-family: 'Roboto Mono';
    font-weight: 400;
}
.underline{
  
    height: 1.1px;
    background-color: #d0c3d4;
    transition: all .2s ease-in;
    
}
.liTags{
    opacity: 0.8;
}
.liTags:hover{
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.bt-con:hover .icon{
    color: #0284C7;
    transform: translateX(10px) rotate(360deg) scale(1.1);
    transition: all .4s ease;
  
}
.complete-download{
    
    transition: top 1s ease-in-out;
}
.animation-one{

    animation: one 4s infinite ease-in-out;
}
.animation-two{

    animation: two 5s infinite ease-in-out;
}
.animation-three{

    animation: three 7s infinite ease-in-out;
}
.sliding-animation{
animation: sliding 4s infinite ease-in-out;
opacity: 0.1;
}
.sliding-animation-two{
    animation: sliding-two 5s infinite ease-in-out;
    opacity: 0.1;
    }

    /*About*/

  
@keyframes one{
    from{opacity:0}
    to{opacity: 0.2}
}
@keyframes two{
    from{opacity:0}
    to{opacity: 0.2}
}
@keyframes three{
    from{opacity:0}
    to{opacity: 0.1}
}
@keyframes sliding{
    from{width: 450px}
    to{width: 50px}
}
@keyframes sliding-two {
    from{width: 450px}
    to{width: 0px}
}

/*About section*/
.about-world-img{
    transition: all .4s ease-in-out;
  animation: about-circle 15s infinite ease-in-out;
}
@keyframes about-circle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* contact*/
 .contact-circle-animation{
    transition: all .4s ease-in-out;
    animation: contact-circle 15s infinite ease-in-out;
 }
 @keyframes contact-circle {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.h-flex{
    transition: all .4s ease-in-out;
}

.menu{
  position:absolute;
 
   top:0px;
  transition: all .5s ease-in-out;

}
